/* fonts */
@font-face {
  font-family: "ABCSans Regular";
  font-style: normal;
  font-weight: normal;
  src: local("ABCSans Regular"), url("./abcsans-regular.woff") format("woff");
}
@font-face {
  font-family: "ABCSans Black";
  font-style: normal;
  font-weight: normal;
  src: local("ABCSans Black"), url("./abcsans-black.woff") format("woff");
}
@font-face {
  font-family: "ABCSans Light";
  font-style: normal;
  font-weight: normal;
  src: local("ABCSans Light"), url("./abcsans-light.woff") format("woff");
}
/* colours
g: #149B67;
b: #1DB3C6;
y: #F4F733;
r: #EF4124;
g: #7C6E6D;
*/
:root {
  font-size: 1em;
  font-family: "ABCSans Regular", "Arial", sans-serif;
  color: #1C1C1C;
}
body {
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
}
#logo text {
  fill: #EF4124;
  font-size: 5rem;
}
#logo #solar {
  font-family: "ABCSans Black";
  text-anchor: end;
}
#logo #divide {
  font-family: "ABCSans Light";
}
#logo circle {
  stroke: #EF4124;
  stroke-width: .5;
  fill: #F4F733;
}
.clipSvg {
  overflow: hidden;
}
